*{
    /* margin:0; */
    /* padding:0; */
    box-sizing:border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.start_btn {
    position:absolute;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
    
}
.start_btn #submit-btn{
    font-size: 20px;
    font-weight:500;
    color:#fff;
    padding: 5px 20px;
    outline: none;
    border:none;
    border-radius:5px;
    background:#034EA2;;
    cursor:pointer;
}

@media only screen and (max-width: 768px)  {
    .start_btn #submit-btn{
        font-size: 15px;
        font-weight:500;
        color:#fff;
        padding: 10px 10px;
        outline: none;
        border:none;
        border-radius:5px;
        background:#034EA2;;
        cursor:pointer;
    }
    .start_btn {
        position:absolute;
        top:75%;
        left:50%;
        transform: translate(-50%,-50%);
        
    }
}
.info_box {
    /* width:540px; */
    text-align:center;
    background: #fff;
    border-radius: 5px;
}
header {
    background: #034EA2;
    color: #ffffff;
    padding-bottom: 20px;
    min-height:70px;
    border-bottom: #B0D235 3px solid;
}
@media (max-width:910px) {
    .MainMenu {
        display:none;
    }
    .toggleCls {
        display:block;
    }
    .toggleCls li{
        display:grid;
        padding:5px;
    }
    .hamIcon {
        text-align:center;
    }
}
@media (min-width:911px) {
    .hamIcon {
        display:none;
    }
    .MainMenu {
        display:initial;
    }
}
.info_box .info_title {
    /* text-align: center; */
    height:40px;
    width: 100%;
    border-bottom: 1px solid orange;
    /* display: flex; */
    align-items: center;
    padding: 5px 15px 20px 15px;
    font-size: 20px;
    font-weight:600;
}

.info_box .info_title{
    padding:15px 35px;
    width:100%;
    border-bottom: 1px solid lightgrey;
    /* display:flex; */
    align-items: center;
    padding: 0 35px;
    font-size:20px;
    font-weight:600;
}

.info_box .info_list {
    padding: 15px 35px;
}

input {
    display:none !important;
}

@media only screen and (max-width: 700px)  {
     .mobile_break{ display:block !important;}
     .something {display:block !important;}
     .radio_label {display:inline-block; width:100px; border-radius: 5px;margin:13px; text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
}

@media only screen and (min-width: 700px)  {
     .mobile_break{ display:none !important; }
     
}
.something {
    display:inline-flex;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.radio_label {
    padding: 8px 14px !important;
    font-size: 14px !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    background: #B0D235;
    cursor: pointer !important;
    color:#fff;
    border-style: solid;
    border-width: 1px;
     transition: background 0.5s ;
    border-color:#4C4C4E;
    /* background-color:aqua; */
    /* width: 15px; */
}
label:hover {
    background-color: green;
}
/* input:checked + label{
    background-color: #4379BD;
}  */
/* input:checked + label{
    background-color: red;
} */
input:checked + #strongly_agree {
    background-color: #034EA2 !important;
}
input:checked + #agree
{
    background-color: #4379BD !important;
}
input:checked + #partially_agree{
    background-color: cadetblue !important;
}

input:checked + #neutral {
    background-color: #76787A !important;
}

input:checked + #partially_disagree {
    background-color: #F4B324 !important;
}

input:checked + #disagree {
    background-color: #F36D21 !important;
}
input:checked + #strongly_disagree {
    background-color: #FF1919 !important;
}

#next-btn,
#submit-btn,
#next-btn-1,
#next-btn-3,
#next-btn-4
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-size: 18px;
    font-weight:bold;
    background: #034EA2;
    color: #fff;
    width: 130px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba (0, 0, 0, 0.1);
    -webkit-ransition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
#next-btn:hover, #next-btn:focus, #next-btn:active,
#submit-btn:hover, #submit-btn:focus, #submit-btn:active,
#next-btn-1:hover, #next-btn-1:focus, #next-btn-1:active,
#next-btn-3:hover, #next-btn-3:focus, #next-btn-3:active,
#next-btn-4:hover, #next-btn-4:focus, #next-btn-4:active,
#next-btn-5:hover, #next-btn-5:focus, #next-btn-5:active
{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#next-btn-5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-size: 15px;
    font-weight:bold;
    background: #034EA2;
    color: #fff;
    width: 160px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba (0, 0, 0, 0.1);
    -webkit-ransition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

